/*
* Developed by
* Falua Temitope Oyewole
* Web Developer,
* Planet Nest
*/

@import "_partials/color";
@import "_partials/fonts";
body {
    background: $form-pure-white;
    @include font-opensans;
    font-weight: lighter;
}

.header {
    top: 0;
    background: $form-white;
    border-bottom: 1px solid $form-sleekblack;
    min-height: 3.4em;
    position: relative;
    width: 100%;
    .container {
        color: $form-deepblue;
    }
}
.footer {
    bottom: 0;
    background: $form-ash;
    position: absolute;
    width: 100%;
    height: 3em;
    color: $form-deepblue;

}
