/*Define color for the pages*/
$form-blue: #3399FF;
$form-black: #070600;
$form-red: #EA526F;
$form-white: #F7F7FF;
$form-deepblue: #279AF1;
$form-ash: #343353;
$form-pure-white: #FFFFFF;
$form-sleekblack: rgb(14%,14%,20%);
